<html>
    <head>
        <title>Add Data</title>
    </head>
    <body>
        <div class="row">
            <form action="/crud/save" method="POST">
                <table border='1'>
                    <tr>
                        <th>Nama</th>
                        <td><input type="text" name="nama" required></td>
                    </tr>
                    <tr>
                        <th>Negara</th>
                        <td><input type="text" name="negara" required></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" value='Simpan'></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>